
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

ul {
  width: 100%;
  padding-bottom: 2.5%;
  background: #ccc;
  float: left;
  list-style: none;
  display: block;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

ul li {
  width: 30%;
  margin: 2.5% 0 0 2.5%;
  float: left;
  position: relative;
  /* the position will help with z-indexing later */
  transition: all 0.6s ease;
  opacity: 0.5;
}

/* ENLARGE ON HOVER */
.gal-1 li:hover {
  transform: scale(1.4);
  opacity: 1;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

/* ENLARGE AND ROTATE ON HOVER */
.gal-2 li:hover{
  transform: scale(1.4) rotate(360deg);
  opacity: 1;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
}


/* SKEWED GALLERY */
.gal-3 li:nth-of-type(1){
  transform: rotate(10deg) translate(10px, 0);
}

.gal-3 li:nth-of-type(2){
  transform: rotate(-10deg) translate(0, 10px);
}

.gal-3 li:nth-of-type(3){
  transform: rotate(10deg) translate(-5px, 5px);
}

.gal-3 li:nth-of-type(4){
  transform: rotate(-20deg) translate(10px, -10px);
}
.gal-3 li:nth-of-type(5){
  transform: rotate(10deg) translate(-5px, -10px);
}
.gal-3 li:nth-of-type(6){
  transform: rotate(-15deg) translate(-5px, -10px);
}

.gal-3 li:hover {
  transform: scale(1.4);
  opacity: 1;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

ul li img {
  max-width: 100%;
  box-sizing: border-box;
  /* changing box-sizing to border-box means that "instead of the border being in addition to the image’s width/height, it is applied within the image’s width/height" */
  border: 2px solid #eee;
  float: left;
}

.gallery-container {
  width: 30%;
  margin: 0 auto;
}
